<section class="carousel">
        <p class="carousel-lg">PCMag</p>
    </section>
    <section id="whyus">
        <p class="lg-flex">Why Us?</p>
        <div class="flex-row">
            <div class="flex-row-item">
                <img src="/static/img/amd.png" alt="">
                <p class="logo">Authentic</p>
            </div>
            <div class="flex-row-item">
                <img src="/static/img/dollars.png" alt="">
                <p class="logo">Best Price</p>
            </div>
            <div class="flex-row-item">
                <img src="/static/img/top.png" alt="">
                <p class="logo">Excellent Quality</p>
            </div>
        </div>
    </section>
    <section class="navigation">
        <p class="lg-flex">What are you looking for?</p>
        <div class="flex-row">
            <div class="flex-row-item-2">
                <div class="img">
                    <img src="/static/img/motherboard.jpg" alt="" height="250" width="250">
                </div>
                <div class="link">
                    <a href="/processor" class="lg-flex">Processors</a>
                </div>
            </div>
            <div class="flex-row-item-2">
                <div class="img">
                    <img src="/static/img/gfxcard.png" alt="" height="250" width="250">
                </div>
                <div class="link">
                    <a href="/gfxcards" class="lg-flex">Graphics Card</a>
                </div>
            </div>
            <div class="flex-row-item-2">
                <div class="img">
                    <img src="/static/img/motherboard-.jpg" alt="" height="250" width="250">
                </div>
                <div class="link">
                    <a href="/motherboard" class="lg-flex">Motherboard</a>
                </div>
            </div>
            <div class="flex-row-item-2">
                <div class="img">
                    <img src="/static/img/ram.webp" alt="" height="250" width="250">
                </div>
                <div class="link">
                    <a href="/ram" class="lg-flex">RAM</a>
                </div>
            </div>
            <div class="flex-row-item-2">
                <div class="img">
                    <img src="/static/img/ssd.png" alt="" height="250" width="250">
                </div>
                <div class="link">
                    <a href="/ssd" class="lg-flex">SSD</a>
                </div>
            </div>
        </div>
    </section>