:root{
    --font: "Inter";
    --background: #000;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    scroll-behavior: smooth;
}
*{
    font-family: var(--font);
    color: white;
}
*:focus{
    outline: 2px solid aqua;
}
.navbar{
    background-color: #161616;
    display: flex;
    align-items: center;
    position: sticky;
    height: 64px;
    top: 0;
    justify-content: space-between;
    padding-inline: 10px;
    transition: height 0.3s ease;
}
.burger{
    display: none;
}
.logo p{
    font-size: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline 2px #fdbf39;
}
a.btn{
    background-color: #ffbc00;
    padding: 8px 16px;
    border-radius: 8px;
    color: black !important;
    text-decoration: none;
}
a.btn:active{
    background-color: #ffbc00;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-flex;
    color: black !important;
    text-decoration: none;
    transform: scale(0.95);
}
button.btn{
    background-color: #ffbc00;
    padding: 8px 16px;
    border-radius: 8px;
    color: black !important;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.cart{
    height: 100vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    right: -100%;
    transition: right 0.3s;
    background-color: black;
    z-index: 10;
}
.cart .cart-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
}
.cart .body{
    height: 65%;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    overflow: scroll;
    background-color: #000;
}
.cartElement{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
}
.cartElement .cancel{
    border: none !important;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wide{
    width: 60%;
    transform: scale(1.6);
}
.toggled{
    height: 100vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    right: 0%;
}
.carousel{
    background-image: url(../img/motherboard.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.processor{
    background-image: url(../img/motherboard.jpg);
    height: 40vh;
}
.motherbd{
    background-image: url(../img/pexels-miguel-á-padriñán-3520694.jpg);
    height: 40vh;
}
.gfxcd{
    background-image: url(../img/gfx-banner.jpg);
    height: 40vh;
}
.ram{
    background-image: url(../img/ram.jpg);
    height: 40vh;
}
.ssd{
    background-image: url(../img/ssd-banner.jpg);
    height: 40vh;
}
.carousel p{
    font-size: 6em
}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}
.flex-product{
    /* padding: 0 0 15px 0; */
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.flex-product .info{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.lg-flex{
    font-size: 2em !important;
    text-align: center;
    text-decoration: none;
}
.lg-flex-z{
    font-size: 2em !important;
    text-decoration: none;
}
.logo{
    font-size: 18px;
}
.footer{
    background-color: #161616;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.strkthru{
    text-decoration: line-through;
}
.buy-item{
    background-color: #ffbc00;
    color: #000 !important;
    border-radius: 8px;
    padding: 8px 16px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}
#whyus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#whyus .flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1em;
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1em;
    flex-wrap: wrap;
}
.flex-row-item-2:nth-child(2) img{
    background-color: white;
}
.flex-row .flex-row-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: #252525;
    width: 150px;
}
.flex-row > .flex-row-item-2{
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: #252525;
}
.flex-row-item-2 img{
    border-radius: 10px 10px 0 0;
}
.flex-row-item-2 .link{
    padding: 10px;
}
.flex-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    flex-wrap: wrap;
}
.image-viewer .images-list{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 5px;
}
.images-list img{
    border-radius: 10px;
    height: 60px;
    width: auto;
}
.flex-info .image-viewer img.main-image{
    height: 450px;
    border-radius: 10px;
}
.login-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    background-color: #252525;
}
.container-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10em;
}
@media (max-width:500px) {
    .container-buy{
        padding: 10px;
    }
}
.container-buy input{
    background-color: #000;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.container-buy input:focus{
    outline: 2px aqua solid;
}
.container-buy .items-info{
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1em;
    background-color: #252525;
    border-radius: 10px 10px 0 0;
    gap: 20px;
    width: 80%;
}
.items-info img{
    border-radius: 10px;
}
.container-buy .user-info{
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1em;
    flex-direction: column;
    background-color: #252525;
    gap: 20px;
    width: 80%;
}
.container-buy .payment{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: #252525;
    gap: 20px;
    width: 80%;
    padding: 1em;
}
.container-buy .buy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #252525;
    gap: 20px;
    width: 80%;
    padding: 1em;
    border-radius: 0 0 10px 10px;
}
.container-buy .buy .buy-item{
    width: 80% !important;
    text-align: center !important;
    transform: scale(1.2) !important;
    cursor: pointer;
}
.container-buy .buy .buy-item:active{
    width: 80% !important;
    text-align: center !important;
    transform: scale(1.15) !important;
    cursor: pointer;
}

@media (max-width:740px) {
    .burger{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        padding: 5px;
        cursor: pointer;
    }
    .display{
        display: flex !important;
    }
    .col{
        flex-direction: column !important;
        gap: 10px;
    }
    .navbar .links{
        display: none;
    }
    .navbar .btn-cart{
        display: none;
    }
    .carousel{
        height: 40vh;
    }
    .display{
        display: flex;
    }
    .col{
        flex-direction: column;
        gap: 10px;
    }
    .image-viewer img.main-image{
        width: 450px;
        height: auto;
    }
    .image-viewer .images-list{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .flex-item-processor-details{
        text-align: center;
    }
    .cart{
        width: 98vw;
    }
    .hclass{
        height: 295px;
    }
}
.line{
    height: 2px;
    width: 20px;
    background-color: white;
}
@media (max-width: 380px) {
    .burger{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        padding: 5px;
        cursor: pointer;
    }
    .carousel{
        height: 30vh;
    }
    .image-viewer img.main-image{
        width: 320px;
        height: 320px !important;
    }
    .image-viewer .images-list{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .flex-item-processor-details{
        text-align: center;
    }
    .cart{
        width: 98vw;
    }
    .hclass{
        height: 295px;
    }
}